.Login {
    display        : flex;
    flex-flow      : row nowrap;
    align-items    : center;
    align-content  : center;
    justify-content: center;
    height         : 100%;

    .loginPane {
        width        : 100%;
        max-width    : 450px;
        border-radius: 10px;
        text-align   : center;
        padding      : 20px;
        box-shadow   : rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        box-shadow   : rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin       : 20px;

        img.logo {
            margin-bottom: 20px;
        }
    }
}